.btncards{
    background-color: #620c0c;
    padding: 10px;
    border-radius: 40px;
    box-shadow: none;
    border-color: transparent;
    
}
.btncards:hover {
    background-color:rgb(70, 3, 3)
    }
    
.lakme{
    margin-top: 50px;
}




/* .container-fluid{
    background-color: maroon;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
} */
 .lakme{
    font-family: "Anton SC", serif;
  font-weight: 50;
  font-size: 50px;
  font-style: normal;
text-align: center;
color: maroon;
/* background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExa29mY2loeGI2cHU0d2Rtb3k2eXlxbnVkcDZldnB2c2FpY3NueXU1cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cz4RyLAZSqa5G8WtGl/giphy.gif);
background-position: center;
-webkit-background-clip: text; */
margin-top: 10px;
 }


/* .footer{
    background-color: #620c0c;
    color: black;
} */

/* General Styles */
/* body {
    margin: 0;
    font-family: Arial, sans-serif;
} */

 footer {
    background-color:#620c0c;
    color: white;
    padding: 40px;
    text-align: center;
} */

/* Contact Section */
.contact-section h3 {
    margin: 0;
    font-size: 24px;
}

.contact-section p {
    margin: 5px 0;
}

/* Social Icons */
.social-icons {
    margin-top: 20px;
}

.icon {
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon img {
    width: 40px;
    height: 40px;
}

.icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

/* Social media Icon */


.youtube img {
    filter: grayscale(0) sepia(0) saturate(100%) hue-rotate(0deg);
}

.instagram img {
    filter: grayscale(0) sepia(0) saturate(100%) hue-rotate(0deg);
}

